[submodule "modulespvcontract"]
	path = modulespvcontract
	url = git@github.com:mycelium-com/wallet-android-spvmodule-contract.git
[submodule "modulespvbch"]
	path = modulespvbch
	url = git@github.com:mycelium-com/wallet-android-spvmodule-bch.git
[submodule "bitcoincashj"]
	path = bitcoincashj
	url = git@github.com:mycelium-com/bitcoincashj.git
