local.properties
mpb.log
tmp
__artifacts_temp
build.properties
.DS_Store
classes
/alfaBank.log
build/
bin/
gen/
out/
.gradle
*.iml
!.idea/copyright/
!.idea/scopes/
.idea/
!.idea/codeStyleSettings.xml
.settings
nohup.out
/gradle.properties
/keys.properties
/keystore_mbwProd
/keystore_mbwTest
/crowdin.properties
