[submodule "modulespvcontract"]
	path = modulespvcontract
	url = git@github.com:mycelium-com/wallet-android-spvmodule-contract.git
[submodule "bitcoincashj"]
	path = bitcoincashj
	url = git@github.com:mycelium-com/bitcoincashj.git
[submodule "wallet-android-modularization-tools"]
	path = wallet-android-modularization-tools
	url = git@github.com:mycelium-com/wallet-android-modularization-tools
