<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycelium.wallet">

    <!--  Note that the permission below depends on the package and must be changed for each build target -->
    <permission android:name="${applicationId}.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <application>

        <!--  Receiver for Google Cloud Messaging -->
        <receiver
            android:name="com.mycelium.wallet.lt.notification.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!--  Note that the below must match the package name -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!--file provider to enable secure intent sharing for encrypted backups-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/my_paths" />
        </provider>

        <activity
            android:name="com.mycelium.wallet.activity.StartupActivity"
            android:label="@string/app_short_name"
            android:theme="@style/MyceliumLauncher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- bitcoin uri scheme -->
            <intent-filter android:label="@string/send_bitcoins" >
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="bitcoin" />
            </intent-filter>

            <!-- payment request mime type uri scheme -->
            <intent-filter android:label="@string/send_bitcoins" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/bitcoin-paymentrequest" />
            </intent-filter>


            <!-- bitid authentication scheme -->
            <intent-filter android:label="@string/bitid_authentication">
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="bitid"/>
            </intent-filter>
        </activity>



    </application>

</manifest>