<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycelium.wallet"
    android:versionCode="00"
    android:versionName="overwrittenByGradle" >

    <!--experiment, not used yet-->
    <meta-data android:name="network" android:value="prod" />

    <uses-sdk
        android:minSdkVersion="8"
        android:maxSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

   <!-- <uses-permission android:name="android.permission.NFC" />
    <uses-feature
            android:name="android.hardware.nfc"
            android:required="false" />-->

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <!-- nexus 7 has no backside camera but frontside camera should be able to scan -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.mycelium.wallet.activity.StartupActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/send_bitcoins" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="bitcoin" />
            </intent-filter>
        </activity>
        <activity android:name="com.mycelium.wallet.activity.main.MainActivity" />
        <activity android:name="com.mycelium.wallet.activity.RecordsActivity" />
        <activity android:name="com.mycelium.wallet.activity.CreateKeyActivity" />
        <activity android:name="com.mycelium.wallet.activity.TransactionDetailsActivity" />
        <activity android:name="com.mycelium.wallet.activity.settings.SettingsActivity" />
        <activity android:name="com.mycelium.wallet.activity.settings.SetLocalCurrencyActivity" />
        <activity android:name="com.mycelium.wallet.activity.export.ExportActivity" />
        <activity android:name="com.mycelium.wallet.activity.export.ExportAsQrCodeActivity" />
        <activity android:name="com.mycelium.wallet.activity.export.ExportToExternalStorageActivity" />
        <activity android:name="com.mycelium.wallet.activity.send.BroadcastTransactionActivity" />
        <activity android:name="com.mycelium.wallet.activity.send.GetSpendingRecordActivity" />
        <activity android:name="com.mycelium.wallet.activity.send.GetSendingAmountActivity" />
        <activity android:name="com.mycelium.wallet.activity.send.InstantWalletActivity" >
           <!-- <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <data android:mimeType="application/bitcoin-privatekey" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>-->
        </activity>
        <activity android:name="com.mycelium.wallet.activity.send.SendInitializationActivity" />
        <activity android:name="com.mycelium.wallet.activity.send.SendMainActivity" />
        <activity android:name="com.mycelium.wallet.activity.send.ManualAddressEntry" />
        <activity android:name="com.mycelium.wallet.activity.receive.WithAmountActivity" />
        <activity android:name="com.mycelium.wallet.activity.receive.GetReceivingAmountActivity" />
        <activity android:name="com.mycelium.wallet.activity.receive.ReceiveCoinsActivity" />
        <activity android:name="com.mycelium.wallet.activity.addressbook.AddressBookActivity" />
        <activity android:name="com.mycelium.wallet.activity.vulnerability.MigrateStartActivity" />
        <activity android:name="com.mycelium.wallet.activity.vulnerability.GetRecordToMigrateActivity" />
        <activity android:name="com.mycelium.wallet.activity.vulnerability.MigrateChooseActionActivity" />
        <activity android:name="com.mycelium.wallet.activity.vulnerability.MigrateGetUnspentOutputsActivity" />
        <activity android:name="com.mycelium.wallet.activity.vulnerability.MigrateSendFundsActivity" />
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Wallet Tests"
        android:targetPackage="com.mycelium.wallet.instrumentTest" />

</manifest>