<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycelium.wallet"
    android:versionCode="00"
    android:versionName="overwrittenByGradle" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--this can now even be skipped since we don't use sdcard anymore-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!--
         Disabled functionality
         <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
-->

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <!-- nexus 7 has no backside camera but frontside camera should be able to scan -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyceliumModern"
        android:name="com.mycelium.wallet.WalletApplication" >

        <service
            android:enabled="true"
            android:exported="false"
            android:name="com.mycelium.wallet.service.TaskExecutionService"
            android:process=":Task"/>

        <activity
            android:name="com.mycelium.wallet.activity.StartupActivity"
            android:label="@string/app_short_name"
            android:theme="@style/MyceliumLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- bitcoin uri scheme -->
            <intent-filter android:label="@string/send_bitcoins" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="bitcoin" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mycelium.wallet.activity.modern.ModernMain"
            android:theme="@style/MyceliumActionBar"  />
        <activity android:name="com.mycelium.wallet.activity.AboutActivity" />
        <activity android:name="com.mycelium.wallet.activity.modern.GetFromAddressBookActivity" />
        <activity android:name="com.mycelium.wallet.activity.AddRecordActivity" />
        <activity android:name="com.mycelium.wallet.activity.ScanActivity" />
        <activity android:name="com.mycelium.wallet.activity.CreateKeyActivity" />
        <activity android:name="com.mycelium.wallet.activity.TransactionDetailsActivity" />
        <activity android:name="com.mycelium.wallet.activity.settings.SettingsActivity"/>
        <activity android:name="com.mycelium.wallet.activity.settings.SetLocalCurrencyActivity" />
        <activity android:name="com.mycelium.wallet.activity.export.ExportAsQrCodeActivity" />
        <activity android:name="com.mycelium.wallet.activity.export.BackupToPdfActivity" />
        <activity android:name="com.mycelium.wallet.activity.export.DecryptPrivateKeyActivity" />
        <activity android:name="com.mycelium.wallet.activity.export.VerifyBackupActivity" />
        <activity android:name="com.mycelium.wallet.activity.export.DecryptBip38PrivateKeyActivity" />
        <activity android:name="com.mycelium.wallet.activity.send.BroadcastTransactionActivity" />
        <activity android:name="com.mycelium.wallet.activity.send.GetSpendingRecordActivity" />
        <activity android:name="com.mycelium.wallet.activity.send.GetSendingAmountActivity" />
        <activity android:name="com.mycelium.wallet.activity.send.InstantWalletActivity" >

            <!--
             <intent-filter>
                 <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                 <data android:mimeType="application/bitcoin-privatekey" />
                 <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>
            -->
        </activity>
        <activity android:name="com.mycelium.wallet.activity.send.SendInitializationActivity" />
        <activity android:name="com.mycelium.wallet.activity.send.SendMainActivity" />
        <activity android:name="com.mycelium.wallet.activity.send.ManualAddressEntry" />
        <activity android:name="com.mycelium.wallet.activity.receive.GetReceivingAmountActivity" />
        <activity android:name="com.mycelium.wallet.activity.receive.ReceiveCoinsActivity" />
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity android:name="com.mycelium.wallet.activity.UpdateNotificationActivity"/>
    </application>

</manifest>