<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycelium.wallet"
    android:versionCode="00"
    android:versionName="overwrittenByGradle" >

    <application>
        <!--file provider to enable secure intent sharing for encrypted backups-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="il.co.bitsofgold.testnetwallet.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/my_paths" />
        </provider>
    </application>

</manifest>