<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mycelium.testnetwallet"
          android:versionCode="00"
          android:versionName="overwrittenByGradle"  >

    <!--experiment, not used yet-->
    <meta-data android:name="network" android:value="testnet" />


</manifest>